.item{
    list-style: none;
    height: 200px;
    width: 200px;
    border: 2px solid #000;
    background-color: yellow;
    margin: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-content:center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}