body{
    margin: 0%;
}

.container{
    font-family:Arial, Helvetica, sans-serif;
}
.list{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 200px;
}

.list-item{
    padding: 10px;
    color: #c2c0c0;
}

.list-item:hover{
    color: #fff;
}

.navbar-container{
    display: flex;
    padding-left: 50px;
    padding-top: 25px;
    background-color: #000;

}

.navbar-container>div>img{
    position: relative;
    top: 7px;
}

.nav-button{
    position: relative;
    top: 20px;
    left: 200px;
    padding: 10px;
    border-radius: 50px;
    width: 100px;
    background: #000; ;
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
}

.nav-button:hover{
    background-color: #1f89e0;
    border: none;
}

/* heading section */
.heading{
    display: flex;
    gap: 50px;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 100px;
    background-color: #000;
}

.left-heading {
    color: #fff;
    font-size: 75px;
    width: 650px;
}
.left-heading>i{
    color: #1f89e0;
}

.description{
    color: #7e7a7a;
    width: 400px;
}

.heading-btn{
    display: flex;
    gap: 50px ;
    margin-top: 50px;
    font-weight: bold;
}
.btn-1{
    padding: 20px;
    width: 150px;
    background-color:#000;
    border:2px solid  #fff ;
    border-radius: 50px;
    color: #fff;
}
.btn-1:hover {
    padding: 20px;
    width: 150px;
    background-color: #1f89e0;
    border-radius: 50px;
    color: #fff;
    border: none;
}
.btn-2{
    padding: 20px;
    width: 150px;
    background-color:#000;
    border:2px solid  #fff ;
    border-radius: 50px;
    color: #fff;
}
.btn-2:hover {
    padding: 20px;
    width: 150px;
    background-color: #1f89e0;
    border-radius: 50px;
    color: #fff;
    border: none;
}

.group_img {
    height: 500px;
    padding-top: 50px;
}


/* logo strip section */
.logo-strip{
    background-color: #2b2929;
    display: flex;
    justify-content: center;
    gap: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* more-description */
.more-description{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

.main-div>h1 {
    font-size: 40px;
    padding-top: 75px;
    text-align: center;
}

.main-div>p {
    width: 400px;
    color: #7e7a7a;
    text-align: center;
    padding-left: 300px;
    padding-bottom: 50px;
}


.md-1{
    display: flex;
    gap: 50px   ;
}
.md-1a:hover>h1, .md-1b:hover>h1, .md-1c:hover>h1{
    color: #fff;
}

.md-1a, .md-1b, .md-1c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border:2px solid #7e7a7a;
    border-radius: 20px;
    
}
.md-1a>p, .md-1b>p, .md-1c>p {
    width: 250px;
    text-align: center;
    color: #7e7a7a;
}

.md-1a:hover, .md-1b:hover, .md-1c:hover{
    background-color: #000;
    transition: translate 1s ease-in-out 0.1s;
    translate: 0px -50px;
    filter:drop-shadow(0px 16px 10px #181717);
}


/* feature section */
.features{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.features>h1{
    padding-left: 75px;
    font-size: 40px;
    width: 800px;
}

.feature-1{
    display: flex;
    gap: 50px;
}
.feature-left{
    display: flex;
    flex-direction: column;
    gap: 20px   ;
}
.fl-2, .fl-3 ,.fl-4, .fl-5{
    display: flex;
    justify-content:space-around;
    width: 350px;
    height: 75px;
    border: 2px solid #7e7a7a;
    border-radius: 50px;
    font-weight: bold;
    line-height: 50px;

}
.fl-1{
    display: flex;
    justify-content:space-around;
    width: 350px;
    height: 75px;
    line-height: 50px;
    border: 2px solid #7e7a7a;
    border-radius: 50px;
    background-color: #1f89e0;
    border: none;
    color: #fff;
    font-weight:400;
}
.fl-1>img{
    margin-left: 130px;
}
.fl-2>img{
    margin-left: 110px;
}
.fl-4>img{
    margin-left: 120px;
}
.fl-5>img{
    margin-left: 40px;
}

.feature-right{
    width: 380px;
    height: 470px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* justify-content: space-between; */
}
.feature-right>p{
    height: 30px;
    width: 350px;
    background-color:#2b2929;
    border-radius: 50px;
    line-height: 30px;
    margin-top: 10px;
}
.feature-right :first-child{
    margin-top: 22px;
}
.feature-right>p>span{
    margin-right: 10px;
    margin-left: 10px;
}

/* pricing */

.pricing{
    background-color: #000;
    color: #fff;
}

.p-heading{
    font-size: 30px;
    padding-top: 50px;
    width: 450px;
    text-align: center;
    margin-left: 450px;
}

.arrows{
    display: flex;
    justify-content: space-around;
}
.arrows>img{
    height: 75px;
}


.option{
    display: flex;
    justify-content: center;
    gap: 30px   ;
    padding-bottom: 75px;
}
.regular, .premium{
    height: 500px;
    width: 300px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 20px;
}

.standerd{
    height: 500px;
    width: 300px;
    background-color: #1f89e0;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.regular-1, .standerd-1, .premium-1{
    display: flex;
}
.regular-1>h1, .standerd-1>h1, .premium-1>h1{
    font-size: 35px;
    margin:0%;
}
.regular-1>span, .standerd-1>span, .premium-1>span{
    color: #b1b0b0;
    margin-top: 20px;
    font-weight: bold;
}
.regular>p, .standerd>p, .premium>p{
    font-weight: bold;
}
.details-1, .details-2{
    display: flex;
}
.details-1>p, .details-2>p{
    margin:2.5%;
    font-weight: 500;
    margin-left: 15px;
}

.Details-btn1, .Details-btn3{
    padding: 10px;
    width: 300px;
    height: 50px;
    color: #fff;
    background-color: #1f89e0;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    font-size: 20px;
}
.Details-btn1{
    margin-top: 40px;
}
.Details-btn2{
    padding: 10px;
    width: 300px;
    height: 50px;
    color: #1f89e0;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    font-size: 20px;
}

/* review section */
.review{
    padding: 50px;
}
.review1{
    display: flex;
    justify-content: space-around;
}
.review1>h1{
    font-size: 30px;
    width: 250px;
}
.review1>p{
    color: #7e7a7a;
    width: 375px;
}

.review2{
    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
    padding-top: 50px;
}
.review-2a , .review-2b{
    width: 400px;
    height: 250px;
    background-color: #fff;
    color: #000;
    padding: 50px;
    border-radius: 30px;
    border: 2px solid #7e7a7a;
}

.review-2a:hover , .review-2b:hover{
    background-color: #000;
    color: #ddd6d6;
}

.review-2a>h2{
    margin-bottom: 0%;
}
.review-2a>p{
    margin-top: 30px;
}


/* signup section */

.signup{
    padding: 50px;
    background-color: #000;
    color: #fff;
}

.signup>h1{
    font-size: 30px;
    width: 600px;
    margin: auto;
}
.signup-1{
    width: 800px;
    padding: 20px;
    margin: auto;
    background-color: #202020;
    border-radius: 15px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.signup-1>input{
    padding: 10px;
    background-color: #535252;
    border-radius: 50px;
    margin-right: 20px;
    border: none;
}
.signup-1>input::placeholder{
    color: #b1b0b0;
}
.signup-1>button{
    padding: 10px;
    width: 100px;
    background-color: #1f89e0;
    color: #ddd6d6;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
}

.footer{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    background-color: #000;

}
.footer1{
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding-bottom: 20px;
}


.logo{
    background-color: #000;
    padding-left: 50px;
    padding-bottom: 50px;
}


@media (min-width:375px) and (max-width:1240px){
    body{
        width:fit-content;
    }
}

@media (max-width:600px){
    body{
        width: fit-content;
    }

    .list{
        padding-left: 100px;
    }
    .nav-button{
        position: relative;
        left: 100px;
    }
    .heading{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
    .description{
      text-align: center;
      font-size: 30px;
      width: 700px;
    }
  
    .heading-btn{
      margin-left: 150px;
    }

    .main-div>p {
        margin-right: 250px;
    }
    .md-1{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 50px   ;
    }
    .md-1a, .md-1b, .md-1c{
        width: 80%;
    }
    .md-1a>h1, .md-1b>h1, .md-1c>h1{
        font-size: xx-large;
    }
    .md-1a>p, .md-1b>p, .md-1c>p{
        font-size: large;
        color: #dddada;
    }
    .md-1a:hover, .md-1b:hover, .md-1c:hover{
        transform: scale(1.5);
        background-color: #000;
    }

    
    .features>h1{
        text-align: center;
    }

    .p-heading{
        text-align: center;
        margin-left: 330px;
        margin-top: 25px;
    }

    
    .option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px   ;
        padding-bottom: 140px;
    }
    .standerd, .regular, .premium{
        width: 50%;
        height: 675px;
    }
    .standerd:hover, .regular:hover, .premium:hover{
        transform: scale(1.3);
        transition: 1s ease-in-out 0.3s;
    }
    .regular-1>h1, .standerd-1>h1, .premium-1>h1{
        font-size: 40px;
        margin:0%;
    }
    .regular>p, .standerd>p, .premium>p{
        font-size: larger;
    }
    .details-1>p, .details-2>p{
        font-size: x-large;
    }
    .Details-btn1,.Details-btn2, .Details-btn3{
        width: 100%;
        font-size: x-large;
    }

    .review{
        padding-bottom: 100px;
    }
    .review1>h1{
        font-size: 40px;
        width: 400px;
    }
    .review1>p{
        font-size: 20px;
        margin-top: 50px;
    }
    .review2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .review-2a:hover , .review-2b:hover{
        transform: scale(1.5);
        transition: 1s ease-in-out 0.3s;
        box-shadow: 2px 0px 30px #2b2929 , -2px 0px 30px #2b2929;
    }

    .signup-1{
        display: flex;
        flex-direction: column;
        gap: 75px;
    }    
    .signup-1>input::placeholder{
        color: #dfd5d5;
        font-size: large;
    }
    .signup-1>input{
        font-size: large;
        color: #dddada;
    }
    .signup-1>button{
        color: #fff;
        font-size: larger;
        width: 100%;
        margin-left: 0%;
    }
}