body{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    background-color: #000;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding-top: 50px;
    display: flex;
    padding-left: 200px;
    padding-right: 100px;
}
.logo{
    padding-right: 350px;
}
.list{
    list-style: none;
    display: flex;
    gap: 50px   ;
    color: #fff;
    font-weight: bold;
}
.list-item:hover{
    color: #4169e1;
}
.nav-btn{
    margin-left: 100px;
    width: 100px;
    height: 40px;
    background-color: #1d1c1c;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}
.nav-btn:hover{
    background-color: #585757;
}
.backgrd-text>img{
    height: 75px;
    position: relative;
    left: 45%;
    top: 30px;
}
.hero-sec{
    padding-left: 200px;
    padding-right: 100px;
}
.hero{
    display: flex;
    color: #fff;
}
.main-img{
    position: absolute;
    bottom: 5%;
}
.description{
    position: relative;
    left: 45%;
}
.description-heading{
    font-size: 40px;
}
.description>span{
    font-weight: bold;
}
.description>p{
    width: 360px;
    color: #a7a1a1;
    line-height: 25px;
}
.main-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 220px;
    height: 50px;
    color: #fff;
    background-color: #1d1c1c;
    border-radius: 10px;
    margin-top: 50px;
}
.main-btn:hover{
    background-color: #585757;
}

/* logo strip */
.logo-stip>img{
    height:20px;
}
.logo-stip{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 50px;
}

/* specification section */

.spec-img{
    margin-top: 100px;
    margin-left: 550px;
}
.spec-descp{
    display: flex;
    gap: 50px   ;
    color: #fff;
    justify-content: center;
}
.detail{
    display: flex;
    flex-direction: column;
    gap: 25px   ;
}
.detail-1,.detail-2,.detail-3,.detail-4{
    display: flex;
    flex-direction: column;
}
.detail-2,.detail-3{
    position: relative;
    right: 30px;
}

.detail-1>span,.detail-2>span,.detail-3>span,.detail-4>span{
    font-weight: bold;
}
.detail-1>p,.detail-2>p,.detail-3>p{
    color: #a7a1a1;
}
.detail-4>p{
    width: 150px;
    color:#a7a1a1;
}
.decp-img{
    animation: rotate 25s steps(5,end) 1s infinite alternate none;
}

/* case section */
.case-section{
    margin-top: 100px;
}
.case-logo{
    text-align: center;
    margin-bottom: 50px;
}
.case-img{
    animation: rotate 25s steps(5,end) 1s infinite alternate none;
}
.case-main{
    display:flex ;
    justify-content: center;
    gap: 100px;
}
.case-descp>p{
    color: #a7a1a1;
    width: 220px;
    padding-top: 80px;
    line-height: 30px;
}
.case-btn{
    background-color: #1d1c1c;
    color: #fffdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 140px;
    gap: 15px;
    border-radius: 10px;
}
.case-btn:hover{
    background-color: #585757;
}

/* buy now section */

.offer-main{
    margin: auto;
    margin-top: 150px;
    height: 350px;
    width: 90vw;
    background-color: #1d1c1c;
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.offer-desc>h1{
    color: #fff;
    width: 250px;
}
.offer-desc>p{
    color: #c4c2c2;
}
.offer-btn{
    width: 125px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.offer-btn:hover{
    background-color: #363434;
    border: none;
    transform: scaleY(1.1);
}
.offer-img{
    animation: rotate 25s steps(5,end) 1s infinite alternate none;
}
/* choose your style logo */

.option-logo{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.styles{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px ;
    column-gap: 20px;
    justify-content: center;
}
.style-1,.style-2,.style-3,.style-4{
    width: 150px;
    height: 150px;
    text-align: center;
    border: none;
    background-color: #1d1c1c;
    border-radius: 10px;
}
legend>img{
    height: 80px;
    width: 60px;
    animation: rotate 5s steps(2,end) 1s infinite  none;
}
.stl-desc{
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.desc1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;align-items: flex-start;
}
.desc1>span{
    font-weight: bold;
}
.desc1>p{
    margin: 0%;
}
.stl-desc>button{
    background-color: #000;
    border-radius: 5px;
}
.style-1:hover, .style-2:hover, .style-3:hover, .style-4:hover{
    transform: scale(1.4);
    transition: 1s ease-in-out;
    background-color: #585757;
}

/* footer section */

.footer{
    margin-block: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color:#fff;
}
.footer>img{
    height: 50px;
}
.Support>span , .products>span{
    font-weight: bold;
    font-size: large;
}
.Support>p , .products>p{
    color: #a7a1a1;
}
.email{
    padding: 20px;
    background-color: #1d1c1c;
    border-radius: 10px;
    display: flex;
}
.email>input{
    background-color: #1d1c1c;
    border: none;
    color: #c4c2c2;
}
.email-btn{
    display: flex;
    align-items: center;
    background-color: #000;
    color: #c4c2c2;
    padding: 5px;
    border-radius: 5px;
}
.social{
    padding-top: 20px;
    display: flex;
    gap: 25px;
}
.upArrow{
    position: relative;
    top: 90px;
    left: 150px;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}